/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

//$font-main: 'M PLUS 1p', sans-serif;
//$main-text-color: #676A6A;
//$main-active-color: #08B2DC;
//$main-title-color: #3A535A;
//
//.presentation {
//  display: flex;
//  flex-direction: row;
//  padding-top: 69px;
//  flex-wrap: wrap;
//  justify-content: space-between;
//  align-items: flex-start;
//
//  .presentation__cards {
//    display: flex;
//    margin-top: 80px;
//    flex-direction: row;
//    flex-wrap: wrap;
//    justify-content: space-between;
//
//    .presentation__cards__item {
//      display: flex;
//      flex-direction: row;
//      margin-bottom: 60px;
//      align-items: center;
//      padding: 16px 28px;
//      transition: all .3s ease-in-out;
//
//      img {
//        margin-right: 23px;
//        max-width: 50px;
//        max-height: 50px;
//        cursor: pointer;
//      }
//
//    }
//
//    .presentation__cards__item:hover {
//      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
//    }
//
//  }
//
//}

