/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

//.wp-block-cgb-block-sin-blocks  {
//  background: $green;
//  border: 0.2rem solid $black;
//  color: $black;
//  margin: 0 auto;
//  max-width: 740px;
//  padding: 2rem;
//}

.sin-with-editor {
  position: relative;

  .sin-link-editor {
    position: absolute;
    top: -20px;
    right: -10px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 3px;
    font-size: 12px;
    border: solid dimgray 1px;
    margin: 3px;
    z-index: 10;
    min-height: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);

    ul {
      margin: 2px;
      list-style: none;
    }

    button {
      display: block;
      margin: 0 auto;
    }
  }

}

.btn-group :first-child {
  margin-right: 3px!important;
}
