/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
//
//.wp-block-cgb-block-sin-blocks  {
//  background: $red;
//  border: 0.2rem solid $black;
//  color: $black;
//  margin: 0 auto;
//  max-width: 740px;
//  padding: 2rem;
//}


/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

//$font-main: 'M PLUS 1p', sans-serif;
//$main-text-color: #676A6A;
//$main-active-color: #08B2DC;
//$main-title-color: #3A535A;
//
//////////intro/////
//.intro {
//  background: linear-gradient(0deg, rgba(135, 135, 135, 0.1), rgba(135, 135, 135, 0.1)), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
//  //height: 730px;
//  overflow: hidden;
//  position: relative;
//
//
//  .intro__title {
//    padding: 190px 0 180px;
//    max-width: 70%;
//    z-index: 10;
//    span{
//      color: $main-active-color;
//    }
//
//    strong {
//      color: $main-active-color;
//    }
//
//    h2 {
//      font-style: normal;
//      font-weight: normal;
//      font-size: 30px;
//      color: $main-title-color;
//      margin-top: 30px;
//    }
//
//    h1 {
//      font-style: normal;
//      font-weight: 500;
//      font-size: 50px;
//      line-height: 74px;
//      color: $main-title-color;
//      margin-top: 10px;
//    }
//
//    h3 {
//      font-style: normal;
//      font-weight: normal;
//      font-size: 18px;
//      line-height: 27px;
//      margin-top: 10px;
//    }
//
//
//
//  }
//
//  .polygon:after{
//    content: '';
//    position: absolute;
//    z-index: -1;
//    bottom: -60px;
//    right: 2%;
//    width: 550px;
//    height: 550px;
//    //transform: rotate(21deg);
//    background: url('assets/Polygon.svg') no-repeat;
//    background-size: 650px 650px;
//    background-position: center;
//    -webkit-animation: rotation 50s infinite linear;
//  }
//
//  @-webkit-keyframes rotation {
//    from {-webkit-transform: rotate(0deg);}
//    to   {-webkit-transform: rotate(359deg);}
//  }
//
//
//
//}

