/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

//.wp-block-cgb-block-sin-blocks  {
//  background: $green;
//  border: 0.2rem solid $black;
//  color: $black;
//  margin: 0 auto;
//  max-width: 740px;
//  padding: 2rem;
//}


.editor-styles-wrapper h4 {
  margin: 0 !important;
}
