/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

//.wp-block-cgb-block-sin-blocks  {
//  background: $green;
//  border: 0.2rem solid $black;
//  color: $black;
//  margin: 0 auto;
//  max-width: 740px;
//  padding: 2rem;
//}

//.circle-progress {
//  background: #8F9CA8 url("assets/img/factsbg.png") repeat local 50% 50%;
//}

.circle-progress__card__circle span {
  z-index: 100;
}
